body{
    background-color: #D3D6CB;
    font-family: "Raleway", Helvetica, sans-serif;
}

#wrapper{
		width: 85%;
		margin: auto;
		margin-top: 2em;
}

ul{
    padding: 0em;
		margin: 0em;
		margin-top: 1em;
		list-style-type: none;
    text-align: center;
    overflow: auto;
}

li{
		width: 35%;
		margin: .5em;
		margin-right: .8em;
		float:right;
		clear: right;
		border-radius: .2em;
		color: #B1ABB5;
		box-shadow: .2em .2em #B1ABB5;
		transition: color 1s, box-shadow 1s;
}

a{
    font-weight: bolder;
    font-size: 120%;
    text-decoration: none;
		color: inherit;
		display: block;
		padding: .5em .8em;
}

li:hover{
		color: #403E42;
    box-shadow: .2em .2em #403E42;
}

#navContent{
	width: 100%;
	box-shadow: .4em .35em rgba(193, 196, 186, .5);
	transition: box-shadow 1s;
}

#navContent:hover{
	box-shadow: .5em .5em rgba(193, 196, 186, 1);
}

#navHead{
	text-align: center;
	letter-spacing: .05em;
	clear: both;
	font-family: "Playfair Display", serif;
	font-size: 150%;
}

#navbar{
	
	width: 16%;
	float: right;
	display: inline-block;
	margin: 2em;
	border-radius: .2em;
	position: fixed;
	
}

.content{
	font-family: Raleway, sans-serif;
	background-color: #FBFFF1;
	box-shadow: .2em .2em #C1C4BA;
	color: black;
	width: 60%;
	margin: 1em;
	margin-left: 5%;
	float: left;
	border-radius: .4em;
	padding: .5em;
	padding-left: 1em;
	overflow: auto;
}

.heading{
	font-family: "Playfair Display", serif;
	font-size: 200%;
	margin: 1em;
	letter-spacing: .07em;
}

.entry{
	margin: 1em;
	margin-left: 2em;
	padding: .5em;
}

.entryHead{
	font-family: "Playfair Display", serif;
	font-size: 135%;
}

.entryContent{
	text-indent: 1em;
	
}

.break{
	display: block;
	width: 95%;
	margin: auto;
	height: .1em;
	background-color: #333333;
}

#circle {
	width: 6.25em;
	height: 6.25em;
	background-color: #FBFFF1;
	border-radius: 3.125em;
}