body{
    background-color: #E4F1FE;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1{
    text-align: center;
    clear:left;
    margin: 1em;
}

h2{
    text-align: center;
    clear:left;
    margin: 1em;
    margin-top: 3em;
}

h3{
    text-align:center;
    margin: .25em;
}

ul{
    padding: 1.5em;
    background-color: #050107;
    text-align: center;
    clear: right;
}

li{
    list-style-type: none;
  
}

a{
    padding: .5em;
    background-color: #333333;
    color: white;
    font-weight: bolder;
    font-size: 120%;
    margin: .5em 5em;
    border-radius: .2em;
    text-decoration: none;
}

a:hover{
    border-bottom: medium none #333333;
}

p{
    text-indent: 2em;
    margin: .1em 3em;
}